:root {
  --bg-header: #38af90;
  --bg-news: #fff;
  --bg-games: #f0f0f0;
  --bg-footer: #383838;
  --color-white: #fff;
  --color-dark-gray: #797979;
  --color-red: #dd7e92;
  --color-black: #383838;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* H E A D E R */
.nav-container {
  background-color: var(--bg-header);
  height: 90px;
  width: 100%;
  padding: 13px; /*verificar valor deste padding*/
}

.nav-main {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-size: 18px;
}

.nav-main a {
  color: #fff;
  text-decoration: none;
}

.nav-user {
  height: 62px;
}

.nav-user img {
  width: 62px;
  height: 62px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-around; /* space-between;*/
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
}

.menu-items li {
  margin: 15px;
  font-size: 14px;
  font-weight: 500;
}

.menu-items-main {
  display: flex;
  align-items: center;
}

.menu-link-itens {
  display: none;
}

.nav-brand {
  font-size: 18px;
  font-weight: 700;
}

/*   S E C T I O N    N E W S   */

#news {
  padding: 10px;
}

#news h1 {
  color: var(--color-dark-gray);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 0 0;
}

.news-button {
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  width: 244px;
  height: 67px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}

.news-button-aligment {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.card-news {
  width: 100%;
  max-width: 990px;
  background-color: var(--bg-games);
  margin: 0 auto;
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 28px;
}

.card-news h2 {
  margin: 0;
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-header);
}

.card-news h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-dark-gray);
}

.card-news h4 {
  font-size: 10px;
  font-weight: 400;
  color: var(--bg-header);
  margin: 0 0 12px 0;
}

.card-news p {
  font-weight: 400;
  color: var(--color-dark-gray);
  font-size: 10px;
}

.card-news a {
  color: var(--color-red);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.card-news hr {
  border: 0;
  border-top: 1px solid var(--bg-header);
  margin-top: 3px;
  margin-bottom: 1px;
}

/*   S E C T I O N    G A M E S   */

#games {
  padding: 40px 10px;
  background-color: var(--bg-games);
  min-height: 559px;
}

#games h2 {
  color: var(--bg-header);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
}

.card-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-games {
  margin: 14px 10px;
  width: 300px;
  height: 326px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-games img {
  width: 300px;
  height: 168.54px;
  border-radius: 8px 8px 0 0;
}

.card-games-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-games-title h3 {
  font-size: 18px;
  color: var(--color-dark-gray);
  margin: 28px 0 0 0;
}

.card-games-title p {
  font-size: 12px;
  color: var(--color-dark-gray);
  margin: 0 0 13px 0;
}

.card-games-title span {
  font-size: 12px;
  font-weight: 700;
  color: var(--bg-header);
  margin: 0 0 13px 0;
}
.card-games-rate p {
  font-size: 36px;
  font-weight: 700;
  color: var(--bg-header);
}

/*   S E C T I O N    S U B S C R I B E   */

#subscribe {
  padding: 12px;
}

#subscribe h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-dark-gray);
  text-align: center;
  margin: 40px 0 16px 0;
}

#subscribe form {
  width: 790px;
  padding: 42px 0 10px 0;
  max-width: 790px;
  background-color: var(--bg-games);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control {
  display: flex;
  justify-content: center;
}

.form-input {
  padding: 0 10px;
}

.form-input input {
  display: block;
  padding: 22px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--color-dark-gray);
}

.form-preferences {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark-gray);
}

.option-group {
  display: block;
}

.option-group input {

}

.Accept-news {
  margin: 35px 0;
}

.game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.button-submit {
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  width: 244px;
  height: 67px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.button-reset {
  background-color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  color: var(--color-red);
  width: 244px;
  height: 67px;
  border-radius: 8px;
  border: 2px solid var(--color-red);
  margin: 10px;
}

/*
*/

/*   S E C T I O N    F O O T E R   */

footer {
  font-size: 14px;
  padding: 30px 20px;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.footer-content {
  display: block;
  text-align: center;
}

footer a,
p {
  text-decoration: none;
  color: var(--color-white);
}

.footer-socials {
  margin-bottom: 37px;
}

.footer-rights {
  margin-bottom: 37px;
}

.footer-socials a {
  display: block;
  text-align: center;
}

.footer-roles a {
  display: block;
  text-align: center;
  height: 29.84px;
}

@media (min-width: 768px) {
  .nav-brand {
    font-size: 24px;
  }

  .menu-link-itens {
    display: contents;
  }

  .card-news {
    margin-bottom: 40px;
  }

  #news h1 {
    font-size: 36px;
  }

  .card-news h2 {
    font-size: 24px;
  }

  .card-news h3 {
    font-size: 16px;
  }

  #games h2 {
    font-size: 36px;
    margin-bottom: 72px;
  }

  #subscribe h2 {
    font-size: 36px;
    margin: 40px;
  }

  .form-input {
    padding: 0 72px;
  }

  .form-preferences {
    padding: 0 72px;
  }

  .button-submit {
    margin-right: 26px;
  }
  
  .button-reset {
    margin-left: 26px ;
  }

  .game-buttons {
    margin-bottom: 52px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
